.card{
    width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
    border:solid 3px;
}

.points{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
}

.player{
    width: 40%;
    border: solid 5px #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:#f5f5f5;
}

.playerGroup{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

/*
.red-card{
  width:40px;
  height:60px;
  border:1px solid #151718;
  float:left;
  margin-right:5px;
  margin-bottom:5px;
  border-radius:2px;
  font-family:courier;
  cursor:pointer;
  color:red;
}

span.number, span.suit{
  width:100%;
  display:block;
  text-align:center;
  padding-top:8px;
}
*/