<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/cards.css" rel="stylesheet" />
</head>
<body>

    <h1>STEVENNNNN GUOOOO</h1>
    <h1>STEVENNNNN GUOOOO</h1>
    <h1>STEVENNNNN GUOOOO</h1>

    <button onclick="getPlayers()">Get Players</button>
    <button onclick="startGame()">Start Game</button>
    <button onclick="callDealerApi()">playerTurn</button>
    <button onclick="console.log('before hit click:', hitFlag); hitEvent(); console.log('after hit click:', hitFlag);">Hit</button>
    <button onclick="console.log('before stand click:',standFlag);standEvent(); console.log('after stand click:', standFlag);">Stand</button>
    <button onclick="createTestPlayers()">create Test Players</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/api.js"></script>
    <script src="js/cards.js"></script>

</body>
</html>