<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="css/cards.css" rel="stylesheet" />
</head>
<body>

    <h1>STEVENNNNN GUOOOO</h1>
    <h1>STEVENNNNN GUOOOO</h1>
    <br>

    <h1>Room <span id="room"></span></h1>
<!--    <h1>Player:  <span id="player"></span></h1>-->

    <div id="player" class="playerGroup"></div>

    <button onclick="getPlayers()">Get Players</button>
    <button onclick="startGame()">Start Game</button>
    <button onclick="callDealerApi()">playerTurn</button>
    <button onclick="hit();">Hit</button>
    <button onclick="standEvent()">Stand</button>
    <button onclick="createTestPlayers()">create Test Players</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/cards.js"></script>
    <script src="js/api.js"></script>
</body>
</html>