<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="css/welcome.css" rel="stylesheet" />
</head>
<body>

    <div class="playerGroup">
        <div class="player">
            <form action="javascript:joinGame()" id="newPlayer">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <br>
                <label for="room">Room ID:</label><br>
                <input type="text" id="room" name="room" minlength="4" maxlength="4" required><br><br>
                <input type="submit" value="Join Game">
            </form>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/welcome.js"></script>

</body>
</html>